
# Always output errors when running tests
test --test_output=errors
# Warn about tests that are too below their timeout (and can be made smaller)
test --test_verbose_timeout_warnings

# Local overrides
try-import local.bazelrc