name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout
            uses: actions/checkout@v6
          - name: bazel test //...
            run: bazel test //...
